* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    background-image: url('./images/pexels-robin-stickel-70497.jpg');
    background-size: cover;
    background-position: top;
    animation: bodyanimation 30s infinite;

    color: aliceblue;
}

@keyframes bodyanimation {
    50% {
        background-position: bottom;
    }

    70% {
        background-position: center;
    }

    100%,
    0% {
        background-position: top;
    }
}

h1 {

    padding-top: 30px;
    padding: 10px;
    width: 100%;
    text-align: center;

    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(101deg, #00ccff, #d400d4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    font-weight: bolder;

}

span {
    margin-top: 100px;
}

div {

    /* background: #fff; */
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

div a {

    height: 300px;
    display: inline-block;
    /* background: #ff00Ff; */
    border-radius: 15%;
    width: 280px;
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(145deg, #de30e4, #503ffe);
    text-align: center;
    overflow: hidden;
    padding: 0%;
    
}
img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    
    border-radius: 5%  ;
}
a:hover {

    box-shadow: 3px 0 30px #00ccff;
    transform: scale(1.1);
    color: rgb(11, 6, 82);
}

.logout,
a {

    border-radius: 10px;
    font-family: "Avenir Next";
    font-size: 20px;
    padding: 0.5rem 3rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(101deg, #00ccff, #d400d4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
    color: #edf3f9;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    margin-top: 30px;
    width: 250px;
    transition: all 0.3s ease;

}

.logout:hover {
    color: rgb(20, 20, 20);
    box-shadow: 2px 1000px 1px #edf3f9 inset;

}