* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    background: #000;
    color: aliceblue;
}
h1{
    margin: 20px;
    text-transform: capitalize;
}
#foodList{
    /* background: #fff; */

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.food{
    box-shadow: 0 0 10px white;
    border-radius: 25%;
    
    height: 400px;
    width: 400px;
}
.food:hover{
    box-shadow: 0 0 20px white;
    transform: scale(1.01);
}
.price {

    /* position: absolute; */
    text-align: center;
    font-size: 30px;
    border-radius:25% ;
    z-index: 3;
    color: red;
    text-shadow: 0 0 300px white;
    text-decoration: underline;
    text-decoration-style:wavy;
    /* background-color: antiquewhite; */
    /* width: 100%; */
}
.order{
    position: relative;
    font-size: 30px;
    z-index: 3;
    color: red;
    background: transparent;
    
}
.mydiv{
    gap: 10px;
    /* background: #fff; */
    position: relative;
    display: flex;
    flex-direction: column;
    
}