* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    /* background: #000; */
    background-image: url('../images/new/pexels-roman-odintsov-4551832.jpg');
    background-size: cover;
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    padding-top: 90px;
    /* color: aliceblue; */
}

h1 {
    top: 0%;
    text-transform: capitalize;
    position: fixed;
    z-index: 20;
    padding-top: 30px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(101deg, #00ccff, #d400d4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    font-weight: bolder;



}

#foodList {
    /* background: #fff; */

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    /* padding: 200px; */
    padding-bottom: 100px;
}

.food {

    height: 100%;
    width: 100%;
}

.food:hover {
    box-shadow: 0 0 20px white;
    transform: scale(1.01);
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: red;
    text-shadow: 0 0 300px white;
    width: 100%;
}
.mydiv{
    border-radius: 10px;
    /* font-family: "Avenir Next"; */
    font-family: 'Courier New', Courier, monospace;

    font-size: 20px;
    padding: 0.5rem 3rem;
    /* color: black; */
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(101deg, #00ccff, #d400d4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
    color: #edf3f9;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    margin-top: 30px;
    width: 250px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.mydiv:hover{
    color: rgb(20, 20, 20);
    box-shadow: 2px 1000px 1px #edf3f9 inset;
    overflow: visible;

}
.mydiv:hover img{
    box-shadow: 0 0 10px #d400d4;
    border-radius: 5%;
}
.mydiv:hover .price{
    
    /* color: #00ccff; */
    text-shadow: 0 0 10px #00ccff;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background: #000;
    height: 10vh;
    font-weight: bolder;
    font-size: 25px;
    width: 100vw;
}
